@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Vampiro+One&display=swap');

body {
    background-color: #222222;
    background: repeating-linear-gradient(
        45deg,
        #2b2b2b 0%,
        #2b2b2b 10%,
        #222222 0%,
        #222222 50%
      )
      0 / 15px 15px;
}

.Button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px; 
    font-size: 13px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.Button:hover {
    background-color: #2980b9;
}

h1 {
    font-size: 24px; 
    margin-bottom: 20px; 
    text-align: center; 
}

#result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
}

#fibonacci-result {
    background-color: #ecf0f1; 
    border-radius: 5px;
    text-align: center;
}

.neon {
    text-align: center;
    font-size: 6em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    font-family: Audiowide;
    animation: neon6 1.5s ease-in-out infinite alternate;
  }

  #lcs-result {
    margin-bottom: 10rem;
  }
  
  
  /*glow*/
  
  @keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
        0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
        0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }
  /*Make stuff responsive*/
  
  @media (max-width: 650px) {
    p {
      font-size: 3.5em;
    }
  }
  