/* Ejercicio 1 */

.Button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px; 
    font-size: 13px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.Button:hover {
    background-color: #2980b9;
}

h1 {
    font-size: 24px; 
    margin-bottom: 20px; 
    text-align: center; 
}

#result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
}

#fibonacci-result {
    background-color: #ecf0f1; 
    padding: 20px; 
    border-radius: 5px;
}
